.contact {
    background-image: url(https://i.picsum.photos/id/1002/4312/2868.jpg?hmac=5LlLE-NY9oMnmIQp7ms6IfdvSUQOzP_O3DPMWmyNxwo);
    background-size: cover;
    color: #fff;
}

.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

input {
    width: 380px;
}

.contact h1 {
    padding: 20px 0px;
}

.socialIcons {
    display: flex;
    justify-content: space-around;
}

.socialIcons img {
    width: 48px;
    height: 48px;
}