.formContainer {
    padding: 0px 20px;
    justify-content: center;
    display: flex;
}

.socialLinks {
    list-style: none;
    display: flex;
    background-color: #24a039;
    justify-content: center;
}

.socialLinks li a {
    padding: 0px 5px;
    color: #fff;
    font-size: 30px;
    transition: 0.2s ease-in-out;
}

.socialLinks li a:hover {
    color: rgb(207, 207, 207);
}

.contactInput {
    width: 500px;
    height: 40px;
}

.contactTextArea {
    width: 500px;
    height: 400px;
}

.contactButton {
    background-color: #24a039;
    color: #fff;
    height: 50px;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
}

.contactButton:hover {
    background-color: #0e771e;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.contact h1 {
    padding: 20px 0px;
}