.landing {
    background-image: url(../Img/landingBg.jpg);
    background-size: cover;
    color: #fff;
}

.home {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.landingImage {
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.landingTextHolder {
    padding: 60px 50px;
    /* font-family: 'Palanquin', sans-serif; */
}

.paragraph {
    font-size: 20px;
}

.flipButtonHolder {
    list-style: none;
}

.flipButtonHolder li {
    display: inline-block;
    float: none;
    padding: 10px;
}