.resume {
    padding: 20px 0px;
}

.bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.bullets:before {
    content: "";
    display: inline-block;
    width: 2px;
    background: #0070D0;
    position: absolute;
    left: 5px;
    top: 0px;
    height: calc(100% + 5px);
}

.bullets li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
}

.bullets li:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #0070D0;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 10px;
}

.resumeTitle {
    font-size: 24px;
    font-weight: bolder;
    padding: 0px 10px;
}

.resumeDescription {
    padding: 0px 10px;
    font-size: 18px;
}